name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Hugging Face Hub
        run: |
          pip install huggingface_hub

      - name: Login to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          huggingface-cli login --token $HF_TOKEN

      - name: Push files to Hugging Face Space
        run: |
          git clone https://huggingface.co/spaces/<HF_USERNAME>/breast-cancer-mlops hf_space
          cd hf_space
          rm -rf *
          cp -r ../app.py ../requirements.txt ../model ../README.md .
          git add .
          git commit -m "Deploy from GitHub Actions"
          git push
