name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Hugging Face Hub
        run: |
          pip install --upgrade pip
          pip install huggingface_hub

      - name: Push files to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git clone https://yashuchouhan:${HF_TOKEN}@huggingface.co/spaces/yashuchouhan/breast-cancer-deployement hf_space
          cd hf_space
          rm -rf *
          cp -r ../app.py ../requirements.txt ../model ../README.md .
          git add .
          git commit -m "Deploy from GitHub Actions" || echo "Nothing to commit"
          git push
